<head th:fragment="min">
<title>炉石竞技场数据</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" th:href="@{${tpl} +'/res/logo.png'}" />
<link th:href="@{${tpl} +'/res/css/bootstrap.min.css'}" rel="stylesheet" />
<link  th:href="@{${tpl} +'/res/css/new.css'}" rel="stylesheet" />
<!-- Important. For Theming change primary-color variable in main.css  -->
<link th:href="@{${tpl} +'/res/fonts/font-awesome.min.css'}" rel="stylesheet" />
<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script th:src="@{${tpl} + '/res/js/html5shiv.js'}"></script>
      <script th:src="@{${tpl} + '/res/js/respond.min.js'}"></script>
<![endif]-->
</head>


